.forget {
    background-color: rgb(219, 198, 159);
    width: 100%;
    height: 100%;
    align-content: space-between;
    padding-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
}