.parent1 {
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100%;
}

.newsfeeds {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 78%;
    height: 100%;
}

.util {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    width: 22%;
    height: 100;
    background-color: blue
}

#profileview {
    overflow: hidden;
    height: 40%;

    word-break: break-all;
    background-color: rgb(139, 114, 66);

    align-content: space-between;
    align-items: center;

    padding: 3%;
    margin: 5%;
    
    border: 5px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#newsinput {
    display: flex;
    height: 100%;
    background-color: rgb(14, 124, 14);
    flex-direction: column;
    background-color:rgb(139, 114, 66);
    align-content: space-between;
    padding: 3%;
    align-items: center;
    border: 5px solid #ccc;
    box-sizing: border-box;
}

#newsBlock {
    display: flex;
    height: 92%;
    overflow-y: scroll;
    flex-direction: column;
    color: black;
  background-color: beige;
}
::-webkit-scrollbar {
  display: none;
  }
.news
{
  border: 5px solid #333;

}

#filtersBox {
    display: flex;
    height: 8%;
    background-color: yellow;
}

#textnews {
    width: 100%;
    height: 100%;
}


.dropdown:hover {
color: aquamarine;
}
    
.filters
{
    margin: 1%;
    width: 20% ;
  min-width: 80px;
}

/* Style Sheet for Filter Bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(139, 114, 66);
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color:rgb(15, 54, 66);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* Stylesheet for profile brief */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width:100%;
  
  background-color: beige;
}


.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


/* Like, dislike buttons */
button.like{
  float: right;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(104, 201, 117);
	background-color:#333;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
  float: right;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(223, 8, 8);
	background-color: #333;
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}

.field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
  padding: 8px;
  background-color: white;
	outline: none;
	border: 1px solid #B0CFE0;
}