.box {
    background-color: rgb(139, 114, 66);
    border: 5px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2%;
}

.signup {
    align-content: space-between;
    padding-top: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(219, 198, 159);
    width: 100%;
    height: 100%;
}

.sign {
    background-color: rgb(139, 114, 66);
    align-content: space-between;
    padding: 5%;
    margin: 2%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}