.introduction {
    display: flex;
    padding: .5%;
    background-color: beige;
    flex-basis: auto;
    width: 70%;
    height: 100%;
}

#intro {
    width: 100%;
    height: 100%;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}