.signin {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 30%;
    height: 100%;
}

label {
    font-size: 22px;
    color: aliceblue;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: antiquewhite;
}

a {
    font-size: 100%;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

input[type=text]
 {
    width: 100%;
    font-size: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password]
 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 120%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    position:relative;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 100%;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.resendConfirmation
{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: rgb(219, 198, 159);
    height: 100%;
}
.resendbox
{
    display: flex;
    background-color: rgb(139, 114, 66);
    border: 5px solid #ccc;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2%;
    width: 40%;
}